<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="dev-bar">

        <h1>Register</h1>
        <h1>Logine</h1>
        <h1>list</h1>
    </div>
    <div class="form">
        <h1>Customer Shopping page</h1>
        <form action="/brand" class="to-do-form" method="post">
            <input type="text" name="customer_Adhar_card_no" value="<%= aadhar %>" class="input1" readonly>
            <br><br>
            <input type="text" class="input1" name="brand_name" placeholder="Enter Brand Name" required>
            <br><br>
            <input type="number" class="input1" name="brand_price" placeholder="Enter Brand Price" id="value" required>
            <br><br>
            <input type="date" class="input1" name="date" placeholder="Enter Today date" id="value" required>
            <br><br>
            <input type="time" class="input1" name="time" placeholder="Enter Today time" id="value" required>
            <br><br>
           
            <button class="button" id="buyBtn">Save</button>
             <h2 id="timer"></h2>
        </form>


<script>

const btn = document.getElementById("buyBtn");
const timer = document.getElementById("timer");

let interval;

btn.addEventListener("click", function () {

    let time = 168 * 60 * 60; // 7 Days

    clearInterval(interval); // पुन्हा क्लिक केल्यास जुना timer बंद

    interval = setInterval(() => {

        let hours = Math.floor(time / 3600);
        let minutes = Math.floor((time % 3600) / 60);
        let seconds = time % 60;

        timer.innerHTML =
        `${hours} Hours ${minutes} Minutes ${seconds} Seconds`;

        if (time <= 0) {
            clearInterval(interval);
            timer.innerHTML = "Time Over";
            return;
        }

        time--;

    }, 1000);

});

</script>
    </div>
</body>

</html>