<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="dev-bar">
        <h1>Register</h1>
        <h1>Logine</h1>
        <h1>list</h1>
    </div>
    <div class="form">
        <h1> Customer logine page</h1>
    <form action="/fourthpage" class="to-do-form" method="post">
        <input type="text" class="input1" name="customer_username" placeholder="Enter Username " required>
        <br><br>
        <input type="number" class="input1" name="customer_Adhar_card_no"  placeholder="Customer Adhar-Card No" id="value" required>
        <br><br>
        <input type="number" class="input1" name="customer_password"  placeholder="password" id="value" required>
        <br><br>
        <button class="button">Logine</button>
    </form></div>
</body>
</html>