<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <div class="dev-bar">
     
        <h1>Register</h1>
        <h1>Logine</h1>
        <h1>list</h1>
    </div>
   <div>
    <h1>INTRODUCTION OF THE PROJECT !!!</h1>
    
   </div>
</body>
</html>