<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <div class="dev-bar">
     
        <h1>Register</h1>
        <h1>Logine</h1>
        <h1>list</h1>
    </div>
    <div class="form">
       <h1> Shopkipper Logine page</h1>
    <form action="/secondpage" class="to-do-form" method="post">
        <input type="text" name="licience_no" class="input1" placeholder="Enter Licence no." required>
        <br><br>
        <input type="number" name="password" class="input1"  placeholder="enter password" required>
        <br><br>
        <button class="button">Logine</button>
    </form></div>
</body>
</html>