<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
 
    <div class="dev-bar">

        <h1>Register</h1>
        <h1>Logine</h1>
        <h1>list</h1>
    </div>
    <div class="info">
        <div>
            <h3>Field Information:
                <br>
            </h3>
            <h4>

                (1) Full Name – Shopkeeper's full name
                <br>
                (2) Phone Number – 10-digit mobile number
                <br>
                (3) Aadhaar Number – 12-digit Aadhaar number
                <br>
                (4) License Number – Valid liquor shop license number
                <br>
                (5) Register Button – Submit the registration form.
                <br>
            </h4>
        </div>
        <div>
            <h3>Some Condition</h3>
            <h4>
                Conditions
                <br>

                (1) Full Name

                Cannot be empty.
                Must contain only letters and spaces.
                <br>
                (2) Phone Number

                Must be exactly 10 digits.
                Only numbers are allowed.
                <br>
                (3) Aadhaar Number

                Must be exactly 12 digits.
                Only numbers are allowed.
                <br>
                (4) License Number

                Cannot be empty.
                Must be a valid license number issued by the authority.
                <br>
                (5) Form Submission

                All fields are mandatory.
                Registration is successful only if all details are valid.
                <br>
            </h4>
            <br>

        </div>
    </div>
    <hr>
    <hr>
    <div class="form">
        <h1> Shopkipper Register Page</h1>
        <form action="/" class="to-do-form" method="post">
            <input type="text" class="input1" name="full_name" placeholder="Enter Full Name" required>
            <br><br>
            <input type="number" class="input1" name="phone_no" placeholder="Phone No" required >
            <br><br>
            <input type="number" class="input1" name="adhar_no" placeholder="Adhar  No" required >
            <br><br>
            <input type="number" class="input1" name="licience_no" placeholder="Licence No" required >
            <br><br>
            <input type="number" class="input1" name="password" placeholder=" Enter Password" required >
            <br><br>

            <button class="button">Register</button>
        <h4 style="padding-left: 46%; font-size: small;">OR</h4>
            <button class="button" onclick="window.location.href='/secondpage'">logine</button>

        </form>
    </div>
</body>

</html>